@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  position: relative;
  box-sizing: border-box;
  overscroll-behavior: none; /* 禁止滚动弹性效果 */
  display: flex;
  justify-content: center;
  min-width: 1200px;
  width: 100%;
  height: 100%;
}


.ant-tabs-nav {
  margin: 0 !important;
}


@font-face {
  font-family: 'YujiSyuku-Regular';
  src: url('@gepick/client/assets/fonts/YujiSyuku-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
