.email-login-btn {
  height: 42px;
  text-align: center;
  line-height: 32px;
  font-size: 14px !important;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;

  &:hover {
    opacity: 0.85;
  }
  .email-icon {
    width: 28px;
  }

  .email-title {
    flex: 1;
    font-size: 16px;
  }
}
